{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block url %}
    <a class="p-2 text-dark" href="{% url 'scope' %}">Осциллограф</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>О проекте</h3>
        <p>В связи с массовым переходом контингента обучающихся на удаленный режим обучения остро поднялся вопрос о реализации ряда функциональных возможностей различного оборудования,
            используемого в процессе обучения. Данный проект предлагает реализовать удаленный доступ к управлению лабораторным оборудованием
            (осциллограф, генератор сигналов).</p>
        <p>Данный сайт предоставляет доступ к оборудованию, которое находится в каб.626 МИЭМа</p>
    </div>
    <div style="position: absolute; bottom: 5px; right: 5px; font-size: 10px">
        <a class="p-2 text-muted" href="https://miem.hse.ru"> </a>
    </div>
{% endblock %}
